.login-container{
    width: 380px;
    height: 520px;
    border-radius: 20px;
    padding: 50px;
    justify-items: center;
    box-sizing: border-box;
    
   
    margin: 4rem auto;
}

.signup-container-color{
    background-color: antiquewhite;
    box-shadow: 15px 15px 25px #cbced1, -14px -14px 20px white;
}
.login-container-color{
    background-color: rgb(255, 252, 252) ;
    box-shadow: 5px 15px 25px #cbced1, 10px 10px 20px white;
}

.login-tittle {
    margin: 15px;
    font-weight: 700;
    font-size: 25px;
    color: #1da1f2;
    letter-spacing: 2px;
}

.login-form {
    text-align: left;
    margin-top: 30px;
}

.login-container label,
.login-container input,
.login-container button {
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

.login-container label {
    margin-bottom: 4px;
    color: gray;
    margin: 15px 0 5px 5px;
    
}

.login-container input::placeholder {
    color: gray;
}

.login-container input {
    background: #ecf0f3;
    margin: 15px 0 0 0;
    padding: 10px;
    padding-left: 20px;
    height: 50px;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

.login-container button {
    color: white;
    margin-top: 20px;
    background: #1a8bd1;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 900;
    box-shadow: 3px 4px 6px #cbced1, 6px 6px 6px white;
    transition: 0.5s;
}

.login-container button:hover {
    box-shadow: none;
    
}


.error-message{
    font-size: 12px;
    color: rgb(201, 44, 44);
    margin:10px;
}
.error-message::before{
    content: "❌ ";
}